<a href="https://colab.research.google.com/github/bharathbiju/neural-layer/blob/Twelfth/NavieBase_Classifier_based_on%20_marks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import files
uploaded = files.upload()

Saving Book2.csv to Book2.csv

In [0]:
import pandas as pd

In [0]:
data = pd.read_csv("Book2.csv")

In [4]:
data

     Language1  Language2  CompSci  ...  commerce  accountancy  Course
0           95         95       96  ...         0            0    engg
1           35         45       50  ...         0            0    engg
2           35         45       54  ...         0            0    arts
3           78         98       75  ...         0            0    arts
4           99         98       97  ...         0            0    arts
..         ...        ...      ...  ...       ...          ...     ...
120         42         64       64  ...         0            0    arts
121         42         41       62  ...         0            0    arts
122         41         45       68  ...         0            0    arts
123         48         39       59  ...         0            0    arts
124         35         38       46  ...         0            0    arts

[125 rows x 11 columns]

In [0]:
X=data.iloc[:,:-1]

In [6]:
X

     Language1  Language2  CompSci  ...  economics  commerce  accountancy
0           95         95       96  ...          0         0            0
1           35         45       50  ...          0         0            0
2           35         45       54  ...          0         0            0
3           78         98       75  ...          0         0            0
4           99         98       97  ...          0         0            0
..         ...        ...      ...  ...        ...       ...          ...
120         42         64       64  ...          0         0            0
121         42         41       62  ...          0         0            0
122         41         45       68  ...          0         0            0
123         48         39       59  ...          0         0            0
124         35         38       46  ...          0         0            0

[125 rows x 10 columns]

In [0]:
y= data.iloc[:,-1]

In [8]:
y

0      engg
1      engg
2      arts
3      arts
4      arts
       ...
120    arts
121    arts
122    arts
123    arts
124    arts
Name: Course, Length: 125, dtype: object

In [0]:
from sklearn.model_selection import train_test_split 

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4, random_state=2)

In [36]:
X_train

     Language1  Language2  CompSci  ...  economics  commerce  accountancy
81          45         74        0  ...          0         0            0
118         38         39        0  ...          0         0            0
1           35         45       50  ...          0         0            0
18          84         78        0  ...          0         0            0
19          67         54        0  ...          0         0            0
..         ...        ...      ...  ...        ...       ...          ...
22          89         89        0  ...          0         0            0
72          45         88        0  ...          0         0            0
109         56         66       45  ...          0         0            0
15          39         40       95  ...          0         0            0
40          83         48       75  ...          0         0            0

[75 rows x 10 columns]

In [41]:
from sklearn.naive_bayes import GaussianNB 

gnb = GaussianNB() 
gnb.fit(X_train, y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [0]:
y_pred = gnb.predict(X_test)

In [39]:
y_train

81      sci
118    arts
1      engg
18     engg
19     engg
       ...
22     engg
72      sci
109    arts
15     engg
40     engg
Name: Course, Length: 75, dtype: object

In [40]:
y_pred

array(['engg', 'engg', 'engg', 'engg', 'engg', 'engg', 'sci', 'sci',
       'arts', 'sci', 'sci', 'engg', 'sci', 'sci', 'engg', 'engg', 'engg',
       'arts', 'sci', 'arts', 'arts', 'sci', 'sci', 'sci', 'arts', 'engg',
       'sci', 'sci', 'arts', 'sci', 'sci', 'engg', 'engg', 'engg', 'sci',
       'sci', 'engg', 'arts', 'sci', 'sci', 'sci', 'sci', 'sci', 'arts',
       'engg', 'sci', 'arts', 'arts', 'sci', 'sci'], dtype='<U4')

In [15]:
y_test

44     engg
30     engg
12     arts
3      arts
36     engg
41     engg
59      sci
110    arts
94     arts
61      sci
2      arts
45      sci
25     engg
111    arts
28     engg
14     engg
0      engg
99     arts
24     engg
100    arts
93     arts
115    arts
13     engg
74      sci
86     arts
5       sci
78      sci
48      sci
98     arts
77      sci
29     engg
11      sci
21     engg
16     engg
112    arts
27     engg
35     engg
92     arts
65      sci
64      sci
122    arts
56      sci
23     engg
87     arts
105    arts
53      sci
97     arts
96     arts
55      sci
121    arts
Name: Course, dtype: object

In [0]:
y_pred = gnb.predict([(65,75,95,98,99,89,0,0,0,0)])

In [22]:
y_pred

array(['engg'], dtype='<U4')

In [42]:
from sklearn import metrics 

print("Gaussian Naive Bayes model accuracy(in %):", metrics.accuracy_score(y_test, y_pred)*100)

Gaussian Naive Bayes model accuracy(in %): 62.0