<a href="https://colab.research.google.com/github/bharathbiju/neural-layer/blob/master/NavieBase_Classifier_based_on%20_marks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import files
uploaded = files.upload()

Saving Book1.csv to Book1.csv

In [0]:
import pandas as pd

In [0]:
data = pd.read_csv("Book1.csv")

In [4]:
data

     language1  language2  maths  science  social group
0          100        100    100      100     100    g1
1          100         98     89      100      99    g2
2           80         75     90       85     100    g3
3           78         45     65       80      90    g3
4           45         85     45       45      90    g3
..         ...        ...    ...      ...     ...   ...
194         67         68     88       78      60    g2
195         90         45     48       56      56    g3
196         72         89     87       45      98    g3
197         60         66     77       40      45    g3
198         89         89     89       90      87    g1

[199 rows x 6 columns]

In [0]:
X=data.iloc[:,:-1]

In [6]:
X

     language1  language2  maths  science  social
0          100        100    100      100     100
1          100         98     89      100      99
2           80         75     90       85     100
3           78         45     65       80      90
4           45         85     45       45      90
..         ...        ...    ...      ...     ...
194         67         68     88       78      60
195         90         45     48       56      56
196         72         89     87       45      98
197         60         66     77       40      45
198         89         89     89       90      87

[199 rows x 5 columns]

In [0]:
y= data.iloc[:,-1]

In [8]:
y

0      g1
1      g2
2      g3
3      g3
4      g3
       ..
194    g2
195    g3
196    g3
197    g3
198    g1
Name: group, Length: 199, dtype: object

In [0]:
from sklearn.model_selection import train_test_split 

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4, random_state=0)

In [10]:
X_train

     language1  language2  maths  science  social
118         89         88     98       90      81
46          68         98     60      100      86
194         67         68     88       78      60
107         85         65     60       99      65
62          70         85     88       97      97
..         ...        ...    ...      ...     ...
67         100         45     66       45     100
192         67         78     45       83      45
117         69         99    100       56      78
47          95         95     78       60      80
172         46         39     67       83      68

[119 rows x 5 columns]

In [11]:
from sklearn.naive_bayes import GaussianNB 

gnb = GaussianNB() 
gnb.fit(X_train, y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [0]:
y_pred = gnb.predict(X_test)

In [13]:
y_train

118    g1
46     g2
194    g2
107    g2
62     g3
       ..
67     g2
192    g3
117    g2
47     g2
172    g3
Name: group, Length: 119, dtype: object

In [14]:
y_pred

array(['g2', 'g1', 'g2', 'g3', 'g3', 'g2', 'g3', 'g3', 'g2', 'g3', 'g3',
       'g3', 'g3', 'g3', 'g3', 'g3', 'g1', 'g3', 'g3', 'g2', 'g1', 'g3',
       'g3', 'g3', 'g1', 'g3', 'g3', 'g1', 'g2', 'g2', 'g1', 'g1', 'g2',
       'g3', 'g3', 'g1', 'g3', 'g3', 'g2', 'g3', 'g2', 'g1', 'g3', 'g3',
       'g3', 'g2', 'g3', 'g1', 'g3', 'g3', 'g3', 'g2', 'g3', 'g2', 'g2',
       'g3', 'g3', 'g3', 'g3', 'g3', 'g2', 'g2', 'g3', 'g2', 'g3', 'g3',
       'g3', 'g2', 'g1', 'g1', 'g3', 'g2', 'g1', 'g3', 'g2', 'g3', 'g2',
       'g1', 'g2', 'g3'], dtype='<U2')

In [15]:
from sklearn import metrics 

print("Gaussian Naive Bayes model accuracy(in %):", metrics.accuracy_score(y_test, y_pred)*100)

Gaussian Naive Bayes model accuracy(in %): 70.0