<a href="https://colab.research.google.com/github/bharathbiju/neural-layer/blob/master/Untitled21.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import files
uploaded = files.upload()

Saving Book1.csv to Book1.csv

In [0]:
import pandas as pd

In [0]:
data = pd.read_csv("Book1.csv")

In [4]:
data

    mark1  mark2  mark3  mark4  mark5 group
0     100    100    100    100    100    g1
1     100     98     89    100     99    g2
2      80     75     90     85    100    g3
3      78     45     65     80     90    g3
4      45     85     45     45     90    g3
5      70     70     85     90     45    g2
6      70     70     85     90     45    g1
7      45     68     75     80     60    g2
8      45     68     75     80     60    g3
9      90     95     98    100     60    g1
10    100     99     45     75     60    g3
11     60     45     48     55     45    g3
12     65     89     65     45     86    g2
13     89     87     86     75     80    g1
14     87     85     95     74     90    g2
15     99     98     97     95     96    g1
16     97     95     98     97     95    g2
17     98     94     99     94     97    g3
18     78     70     92     86     77    g3

In [0]:
X=data.iloc[:,:-1]

In [15]:
X

    mark1  mark2  mark3  mark4  mark5
0     100    100    100    100    100
1     100     98     89    100     99
2      80     75     90     85    100
3      78     45     65     80     90
4      45     85     45     45     90
5      70     70     85     90     45
6      70     70     85     90     45
7      45     68     75     80     60
8      45     68     75     80     60
9      90     95     98    100     60
10    100     99     45     75     60
11     60     45     48     55     45
12     65     89     65     45     86
13     89     87     86     75     80
14     87     85     95     74     90
15     99     98     97     95     96
16     97     95     98     97     95
17     98     94     99     94     97
18     78     70     92     86     77

In [0]:
y= data.iloc[:,-1]

In [17]:
y

0     g1
1     g2
2     g3
3     g3
4     g3
5     g2
6     g1
7     g2
8     g3
9     g1
10    g3
11    g3
12    g2
13    g1
14    g2
15    g1
16    g2
17    g3
18    g3
Name: group, dtype: object

In [0]:
from sklearn.model_selection import train_test_split 

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4, random_state=0)

In [19]:
X_train

    mark1  mark2  mark3  mark4  mark5
2      80     75     90     85    100
5      70     70     85     90     45
13     89     87     86     75     80
9      90     95     98    100     60
7      45     68     75     80     60
17     98     94     99     94     97
11     60     45     48     55     45
3      78     45     65     80     90
0     100    100    100    100    100
15     99     98     97     95     96
12     65     89     65     45     86

In [20]:
from sklearn.naive_bayes import GaussianNB 

gnb = GaussianNB() 
gnb.fit(X_train, y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [0]:
y_pred = gnb.predict(X_test)

In [22]:
y_pred

array(['g3', 'g1', 'g2', 'g3', 'g1', 'g1', 'g2', 'g3'], dtype='<U2')

In [23]:
from sklearn import metrics 

print("Gaussian Naive Bayes model accuracy(in %):", metrics.accuracy_score(y_test, y_pred)*100)

Gaussian Naive Bayes model accuracy(in %): 37.5